SIMPUS_DB_USER=simpus
SIMPUS_DB_PASSWORD=secret
SIMPUS_DB_ROOT_PASSWORD=rootsecret
AUTH_SERVICE_URL=http://localhost:8001
MAHASISWA_SERVICE_URL=http://localhost:8002
KLINIK_SERVICE_URL=http://localhost:8003
BANK_SERVICE_URL=http://localhost:8004
PPL_SERVICE_URL=http://localhost:8005
